<!DOCTYPE html>
<html>
<head>
<title>Yelpy !!!</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>


<section id="page">
	<article id='form'>
	</article>

	<article id='restaurant-container'>
	</article>

	<article id='map-container'>  
		<%= partial :geocoder %> 
	    <div id="map-canvas">
    	</div>
  </article>


</section>

  <template id='searchForm'>
	<form id="getfood">
		<input name="search" id="search" type="text" placeholder="food?">
		<input id="address" type="hidden" value="{{ location }}{{ city }}">
		<a href='#' id="geoCodeNow" value="Geocode">Submit</a>
	</form>
</template>

<template id="restaurant-information">
	<article>
		<section>
			<img src ="{{ restaurant.rating_img_url_small }}"> 
					{{ name }} 
				 	{{ url }} 
				 	{{ display_phone }}
				  {{ snippet_text }}
				  {{ location }}
		</section>
			<aside>
				<img src="{{ image_url }}">
			</aside>
			<footer>
				<form>
	      	<input id="{{id}}" type="button" data-location="{{ location }}{{ city }}" value="Geocode">
	    </form>
			</footer>
	</article>
</template>

<template id="map-information">
    	

</template>

<script type="text/javascript" src="/jQuery/jquery-2.1.1.min.js">       </script>
<script type="text/javascript" src="/javascript/mustache.js">           </script>
<script id="template" type="text/javascript" src="/jQuery/getburger.js"></script>

<script>
	showSearchForm();
</script>

<% if @results %>
	<script>
		init(<%= @results %>);
	</script>
<% end %>

</body>

</html>